body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header, section, footer {
    padding: 1.25em 0;
}

header, .section-two {
    background-color: #5f29a3;
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

h1, h3 {
    margin: 0;
} 

h1 {
    font-size: 1.75rem;
}

h2 {
    color: #451c7a;
    font-size: 1.375rem;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subheading {
    display: block;
    font-size: 1rem;
    color: #d0aaff;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

.main-image {
    width: 100%;
    display: block;
    max-width: 640px;
    margin: 0 auto 2em;
    background-color: seagreen;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: #d4b44c;
}

.btn {
    border-radius: 4px;
    font-size: 1.125rem;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    text-align: center;
    font-weight: 500;
    display: block;
}

.btn:hover, .btn:active {
    color: #2b238a;
    background: #f3e885;
}

.btn-dark {
    background-color: #5f29a3;
    color: whitesmoke;
}

.btn-mid {
    background-color: #f0e0ff;
    color: #5f29a3;
}

.btn-light {
    color: #5f29a3;
    background: whitesmoke;
}

.section-two-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.section-two h2 {
    color: inherit;
}

.feature-image {
    width: 100%;
    border-radius: 4px;
}

.feature-item {
    flex: 1 270px;
}

footer {
    text-align: center;
    color: #5f29a3;
}

@media (max-width: 767px) {
    li:not(:last-child) {
        border-bottom: 1px solid #a190b6;
    }

    header {
        text-align: center;
    }

    nav {
        margin-top: 1.625em;
    } 
}

@media (min-width: 768px) {
    header, section,footer {
        padding: 2.875em 0;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 2.25rem;
    }

    nav ul {
        display: flex;
        list-style: none;
        font-size: 1rem;
    }
    
    ul li {
        margin-left:1em;
        cursor: pointer;
    }

    .subheading {
        font-size: 1.25rem;
    }

    .btn {
        margin-right: 0.5em;
        display: inline-block;
    }
}